.demo{
    border: 3px solid white;
    margin-left: 500px;
    margin-top: 300px;
    width: 200px;
    padding: 60px;
}
/* .ex{
    color: blue;
    margin: 30px;
} */
.images{
    background-image: url(./images/stones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}